body {
  margin: 20px;
  background-color: rgb(52, 148, 244);
  font-family: 'Asap', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 400px;
  transform: translate(0, -50%);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 5px 10px 10px rgba(2, 128, 144, 0.2);
}

.login-form::before,
.login-form::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}

.login-form::before {
  left: 40%;
  bottom: -130%;
  background-color: rgba(69, 105, 144, 0.15);
  animation: wawes 6s infinite linear;
}

.login-form::after {
  left: 35%;
  bottom: -125%;
  background-color: rgba(2, 128, 144, 0.2);
  animation: wawes 7s infinite;
}

.login-form > input {
  font-family: 'Asap', sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}

.login-form > button {
  font-family: 'Asap', sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: rgb(46, 18, 228);
  transition: background-color 300ms;
}

.login-form > button:hover {
  background-color: darken(rgb(17, 17, 229), 5%);
}

@keyframes wawes {
  from {
      transform: rotate(0);
  }
  to {
      transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    padding-top: 50%;
      height: auto;
  }

  .login-form {
      margin-top: 20px;
      border-radius: 0;
      box-shadow: none;
  }
}

@media screen and (max-width: 480px) {
  .login-form > input,
  .login-form > button {
      font-size: 14px;
  }
}
