/* Global styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-item {
    margin-left: 20px;
  }
  
  .navbar-item a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  .navbar-item a:hover {
    background-color: #555;
  }

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Login page styles */

#login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#login-form label {
    display: block;
    margin-bottom: 10px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#login-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Index page styles */

#home-banner {
    height: 500px;
    background-image: url("https://via.placeholder.com/1500x500.png?text=Home+Banner");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* Producer page styles */

#producer-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#producer-form label {
    display: block;
    margin-bottom: 10px;
}

#producer-form input[type="text"],
#producer-form input[type="number"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#producer-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Consumer page styles */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #f0f0f0;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}
