/* Global styles */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    text-align: center;
    background-color: rgba(184, 185, 195, 0.519);
    font-size: 35px;
}

#index-info {
    text-align: center;
    font-size: 25px;
}

#index-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#index-login button {
    margin: 0 10px;
    font-size: 23px;
}

#login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: turquoise;
}

#label-radio {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Login page styles */

#login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#login-form label {
    display: block;
    margin-bottom: 10px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#login-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Index page styles */

#home-banner {
    height: 500px;
    background-image: url("https://via.placeholder.com/1500x500.png?text=Home+Banner");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


/* Producer page styles */

#producer-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#producer-form label {
    display: block;
    margin-bottom: 10px;
}

#producer-form input[type="text"],
#producer-form input[type="number"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#producer-form input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* Consumer page styles */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #f0f0f0;
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}